*~
*.*~
.config
*.o.cmd
*.o
*.map
*.d
*.ko.cmd
*.ko
*.order
*.mod.c
*.cmd
*.s.cmd
include/config/
.tmp_versions*
.tmp_*
.version
Module.symvers
arch/arm/boot/compressed/vmlinux
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
include/asm
include/asm-arm/asm-offsets.h
include/linux/autoconf.h
include/linux/bounds.h
include/linux/compile.h
include/linux/utsrelease.h
include/linux/version.h
kernel/bounds.s
lib/lib.a
vmlinux

